canvas{
    border: 2px solid black;
    margin: 5px;
    width: 500px;
    height: 500px;
}
img{
    border: 2px solid black;
    margin: 5px;
    width: 500px;
    height: 500px;
}
h1{
    font-family: 'Khula', sans-serif;
    font-weight: 450;
    font-size: 16pt;
}
p{
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-weight: 700;
    font-size: x-large;
}